In [13]:
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
## Note versions used

print('Pandas version ',pd.__version__)
print('Numpy version ',np.__version__)
print('Scipy version ',sp.__version__)
print('Seaborn version ',sns.__version__)

Pandas version  1.3.3
Numpy version  1.21.2
Scipy version  1.7.1
Seaborn version  0.11.2

In [20]:
df = pd.read_csv (r'C:\Users\marji\Documents\NOVA-IMS\Business Cases\Business Case 3\retail.csv')

In [22]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom

In [24]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [31]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [32]:
df['CustomerID'].fillna(df['InvoiceNo'], inplace=True)

In [33]:
df.isna().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [29]:
pd.to_datetime(df['InvoiceDate'])

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [35]:
df.describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

In [43]:
df['Quantity'][df['Quantity']< 0].count()

10624

In [44]:
df['UnitPrice'][df['UnitPrice']< 0].count()

2

In [46]:
df['UnitPrice'][df['UnitPrice']== 0].count()

2515

In [51]:
df = df[~df['InvoiceNo'].str.contains('C', na=False)]

In [52]:
df = df[~df['InvoiceNo'].str.contains('A', na=False)]

In [53]:
df.describe()

            Quantity      UnitPrice
count  532618.000000  532618.000000
mean       10.240024       3.868412
std       159.593999      32.470442
min     -9600.000000       0.000000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   13541.330000

In [54]:
df['Volume'] = df.Quantity * df.UnitPrice

In [55]:
df.Country.value_counts(normalize=True)*100

United Kingdom          91.551356
Germany                  1.697652
France                   1.578617
EIRE                     1.482113
Spain                    0.466563
Netherlands              0.443658
Belgium                  0.381324
Switzerland              0.369308
Portugal                 0.281815
Australia                0.222486
Norway                   0.201270
Italy                    0.142316
Channel Islands          0.140438
Finland                  0.128610
Cyprus                   0.115280
Sweden                   0.084676
Unspecified              0.083737
Austria                  0.074725
Denmark                  0.071346
Poland                   0.061958
Japan                    0.060268
Israel                   0.055387
Hong Kong                0.053322
Singapore                0.041681
Iceland                  0.034171
USA                      0.033608
Canada                   0.028351
Greece                   0.027224
Malta                    0.021028
United Arab Emirates     0.012767
European Community       0.011265
RSA                      0.010890
Lebanon                  0.008449
Lithuania                0.006571
Brazil                   0.006008
Czech Republic           0.004694
Bahrain                  0.003380
Saudi Arabia             0.001690
Name: Country, dtype: float64

In [56]:
df.groupby(by='Country').agg(np.sum)['Volume'].sort_values(ascending=False)

Country
United Kingdom          9014160.024
Netherlands              285446.340
EIRE                     283453.960
Germany                  228867.140
France                   209715.110
Australia                138521.310
Spain                     61577.110
Switzerland               57089.900
Belgium                   41196.340
Sweden                    38378.330
Japan                     37416.370
Norway                    36165.440
Portugal                  33747.100
Finland                   22546.080
Singapore                 21279.290
Channel Islands           20450.440
Denmark                   18955.340
Italy                     17483.240
Hong Kong                 15691.800
Cyprus                    13590.380
Austria                   10198.680
Israel                     8135.260
Poland                     7334.650
Greece                     4760.520
Unspecified                4749.790
Iceland                    4310.000
Canada                     3666.380
USA                        3580.390
Malta                      2725.590
United Arab Emirates       1902.280
Lebanon                    1693.880
Lithuania                  1661.060
European Community         1300.250
Brazil                     1143.600
RSA                        1002.310
Czech Republic              826.740
Bahrain                     754.140
Saudi Arabia                145.920
Name: Volume, dtype: float64

In [57]:
other_countries = [
'Japan', 'Israel', 'Hong Kong', 'Singapore', 'Canada',
'United Arab Emirates', 'USA', 'Lebanon', 'Brazil', 'Bahrain', 'Saudi Arabia', 'RSA'
]